<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>20/01/22 20:03:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTourTestCase.NewTourTestCases()[pri:0, instance:com.codistan.NewToursTestCases.NewTourTestCase@cd2dae5]">NewTourTestCases</td> 
  <td>TestNG-test=Test-1@741576442</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/01/22 20:03:25</td>   <td>5923</td> <td>&nbsp;</td><td title="&lt;&lt;NewToursTestBase.afterTest()[pri:0, instance:com.codistan.NewToursTestCases.NewTourRegisterTest@49fc609f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/01/22 20:03:07</td>   <td>-11749</td> <td>&nbsp;</td><td title="&gt;&gt;NewToursTestBase.beforeTest()[pri:0, instance:com.codistan.NewToursTestCases.NewTourRegisterTest@49fc609f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/01/22 20:03:25</td>   <td>5907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTourTestCase.runTest()[pri:0, instance:com.codistan.NewToursTestCases.NewTourTestCase@cd2dae5]">runTest</td> 
  <td>TestNG-test=Test-1@741576442</td>   <td></td> </tr>
</table>
