<h2>Methods that were not run</h2><table>
<tr><td>com.codistan.NewToursTestCases.NewTourRegisterTest.skipTest</td></tr>
<tr><td>com.codistan.NewToursTestCases.NewTourRegisterTest.registerTest</td></tr>
</table>