<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab965">  <td>20/01/29 20:48:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderWithExcelInput.invokeChromeBrowser()[pri:0, instance:com.codistan.testngdatadriven.dataprovider.DataProviderWithExcelInput@694e1548]">&gt;&gt;invokeChromeBrowser</td> 
<td>&nbsp;</td>  <td>main@1166151249</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>20/01/29 20:49:14</td>   <td>16487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderWithExcelInput.multipleInput(java.lang.String, java.lang.String)[pri:0, instance:com.codistan.testngdatadriven.dataprovider.DataProviderWithExcelInput@694e1548]">multipleInput</td> 
  <td>main@1166151249</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>20/01/29 20:49:14</td>   <td>16906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderWithExcelInput.invokeChromeBrowser()[pri:0, instance:com.codistan.testngdatadriven.dataprovider.DataProviderWithExcelInput@694e1548]">&gt;&gt;invokeChromeBrowser</td> 
<td>&nbsp;</td>  <td>main@1166151249</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>20/01/29 20:49:28</td>   <td>31192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderWithExcelInput.multipleInput(java.lang.String, java.lang.String)[pri:0, instance:com.codistan.testngdatadriven.dataprovider.DataProviderWithExcelInput@694e1548]">multipleInput</td> 
  <td>main@1166151249</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>20/01/29 20:49:29</td>   <td>31508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderWithExcelInput.invokeChromeBrowser()[pri:0, instance:com.codistan.testngdatadriven.dataprovider.DataProviderWithExcelInput@694e1548]">&gt;&gt;invokeChromeBrowser</td> 
<td>&nbsp;</td>  <td>main@1166151249</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>20/01/29 20:49:44</td>   <td>46609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderWithExcelInput.multipleInput(java.lang.String, java.lang.String)[pri:0, instance:com.codistan.testngdatadriven.dataprovider.DataProviderWithExcelInput@694e1548]">multipleInput</td> 
  <td>main@1166151249</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>20/01/29 20:49:44</td>   <td>46857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderWithExcelInput.invokeChromeBrowser()[pri:0, instance:com.codistan.testngdatadriven.dataprovider.DataProviderWithExcelInput@694e1548]">&gt;&gt;invokeChromeBrowser</td> 
<td>&nbsp;</td>  <td>main@1166151249</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>20/01/29 20:49:59</td>   <td>61639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderWithExcelInput.multipleInput(java.lang.String, java.lang.String)[pri:0, instance:com.codistan.testngdatadriven.dataprovider.DataProviderWithExcelInput@694e1548]">multipleInput</td> 
  <td>main@1166151249</td>   <td></td> </tr>
</table>
